.root{
	
	-fx-background-color: white;
}

#projectview{
	-fx-background-image:url("Manager.jpg");
}

#projectcreator{
-fx-background-image:url("newproject.jpg");
-fx-background-repeat:stretch;
-fx-background-position:top right;
}

#projecteditor{
-fx-background-image:url("newproject.jpg");
-fx-background-repeat:no-repeat;
-fx-background-position:top right;
}

#taskview{
-fx-background-image:url("newproject.jpg");
-fx-background-repeat:stretch;
-fx-background-position:top right;
}
#projectInfoPane{
-fx-background-image:url("newproject.jpg");

	
}

.button {
    -fx-effect: dropshadow(two-pass-box , darkgray, 10, 0.0 , 4, 5);
    -fx-background-color: #3366FF;
    -fx-background-radius: 15 15 15 15;
    -fx-background-insets: 2 2 2 2 ;
    -fx-color:white;
		
}


.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-background-color: #3366FF;
 
}

.button {
    -fx-effect: dropshadow(two-pass-box , darkgray, 10, 0.0 , 4, 5);
    -fx-background-color: #3366FF;
    -fx-background-radius: 15 15 15 15;
    -fx-background-insets: 2 2 2 2 ;
    -fx-color:white;
		
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.graph-button {
    -fx-effect: dropshadow(two-pass-box , darkgray, 10, 0.0 , 4, 5);
    -fx-background-color: #C0E5D5;
    -fx-background-radius: 15 15 15 15;
    -fx-background-insets: 2 2 2 2 ;
    -fx-color:white;
    -fx-text-align: center;
}

.graph-button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.critical-path-button {
    -fx-effect: dropshadow(two-pass-box , darkgray, 10, 0.0 , 4, 5);
    -fx-background-color: #E98892;
    -fx-background-radius: 15 15 15 15;
    -fx-background-insets: 2 2 2 2 ;
    -fx-color:white;
    -fx-text-align: center;
}

.meh-button {
    -fx-effect: dropshadow(two-pass-box , darkgray, 10, 0.0 , 4, 5);
        -fx-background-color: #F0E68C;
        -fx-background-radius: 15 15 15 15;
        -fx-background-insets: 2 2 2 2 ;
        -fx-color:white;
        -fx-text-align: center;
}

.done-button {
    -fx-effect: dropshadow(two-pass-box , darkgray, 10, 0.0 , 4, 5);
        -fx-background-color: #87CEEB;
        -fx-background-radius: 15 15 15 15;
        -fx-background-insets: 2 2 2 2 ;
        -fx-color:white;
        -fx-text-align: center;
}

.line {
    -fx-stroke: black;
    -fx-stroke-width: 2px;
}

.critical-path-line {
    -fx-stroke: #E98892;
    -fx-stroke-width: 3px;
}

.critical-path-button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
